html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    font-family: 'Inter', sans-serif;
  }
  
  form {
    display: flex;
    gap: 0.625rem;
  }
  
  header {
    display: flex;
    justify-content: space-evenly;
    padding-left: 1.438rem;
    align-content: center;
    justify-items: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: #1f293a;
    width: 100%;
    height: 100%;
    padding-top: 1.25rem;
    position: relative;
  }
  
  .colorpick {
    width: 3.813rem;
    height: 2.688rem;
    left: 0.875rem;
    top: 1.438rem;
    cursor: pointer;
  }
  
  select {
    width: 21.875rem;
    height: 2.625rem;
    left: 5.438rem;
    top: 1.5rem;
    background: #1f293a;
    border: 0.063rem solid #d1d5db;
    box-shadow: 0px 0.063rem 0.125rem rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    font-family: inherit;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 0.625rem;
    cursor: pointer;
  }
  
  button {
    width: 7.688rem;
    height: 2.625rem;
    left: 25.75rem;
    top: 1.5rem;
    background: #3d4b60;
    box-shadow: 0px 0.063rem 0.125rem rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 1rem;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .colordiv {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 1.563rem;
  }
  
  .color {
    width: 100%;
    height: 40.625rem;
    display: inline-block;
    cursor: pointer;
    transition: scale, 0.15s;
  }

  .color:hover{
    transform: scale(1.1);
  }
  
  .hex {
    margin-top: 40.9375rem;
    text-align: center;
    color: black;
    font-size: 0.9375rem; 
    font-family: inherit;
    
  }
  
  .copied-message{
    color: black;
    font-family: inherit;
    font-weight: bold;
    margin-top: 1.875rem; 
    margin-left: 3.125em; 
  }
